body{
	padding-top: 50px;
	background-image: url("../images/bg.jpg");
}
#topnav{
	font-weight: bolder;
	text-align: center;
}
.navbar{
	border:none;
	background: rgba(0,0,0);
}
.hid{
	display: none;
}
#project_info a{
	text-decoration: none;
}