{% extends "base.html" %}
{% load static %}
{% block title %}
	Add Criminal Image
{% endblock %}
{% block content %}
    <div class="container" style="padding-top:20px">
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image_form }}
                Upload File: <input type="file" name="image"> 
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}