{% extends "base.html" %}
{% load static %}
{% block title %}
Case List
{% endblock %}

{% block content %}
{% for case in case_set %}
<div class="card w-50 mx-auto mb-2 shadow-sm" style="width:150px">
    <div class="card-body">
        <div class="clearfix">
            <h5 class="float-left card-title">Created by: {{ case.get_creator_instance }} </h5>
            <span class="float-right"><em>{{ case.date_created }}</em></span>
        </div>
        <p class="card-text"><em><b>{{ case.category.crime }}</b></em></p>
        <p class="class-text">{{ case.description|truncatechars:300 }}</p>
        <button type="button" class="btn disabled">
            Number of Criminals <span class="badge badge-light">{{ case.get_no_of_criminals }}</span>
        </button>
        <button type="button" class="btn disabled">
            Number of Witness <span class="badge badge-light">{{ case.get_no_of_witness }}</span>
        </button>
        <button type="button" class="btn disabled">
            Number of Plaintiffs <span class="badge badge-light">{{ case.get_no_of_plaintiffs }}</span>
        </button>
        <div class="clearfix">
            <span class="float-left mt-3"><b><em>Case Closed/Open</em></b></span>
        </div>
    </div>
</div>
{% endfor %}

<ul class="pagination pagination-lg justify-content-center" style="margin:20px 0;">

    {% if case_set.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
    <li class="page-item"><a class="page-link"
            href="?page={{ case_set.previous_page_number }}">previous</a></li>
    {% endif %}

    <li class="current page-item disabled">
        <a class="page-link"> Page {{ case_set.number }} of {{ case_set.paginator.num_pages }}.</a>
    </li>

    {% if case_set.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ case_set.next_page_number }}">next</a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ case_set.paginator.num_pages }}">last
            &raquo;</a></li>
    {% endif %}

</ul>

{% endblock %}