{% extends "base.html" %}
{% load static %}
{% block title %}
	Statistics
{% endblock %}
{% block head %} 
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" ></script>
	<script src="{% static "js/chart_utils.js" %}"></script>
{% endblock %}
{% block content %}
	<h1> Crime Statistics...</h1>
	<div>
		<button class="close" onclick="get_data()" id="monthly_stats">Gender Stats/</button><br>
		<button class="close" onclick="get_data('crimes')" id="monthly_stats">Severe Stats/</button><br>
		<button class="close" onclick="get_data('monthly')" id="monthly_stats">Monthly Stats/</button><br>
		<button class="close" onclick="get_data('yearly')" id="monthly_stats">Yearly Stats/</button><br>
	</div>
	<div class="chart-container" style="position: relative; height:40vh; width:50vw">
		<canvas id="myChart" width="" height=""></canvas>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		var chart_area
		$(document).ready(function(){
    		$.getScript("/static/js/chart_utils.js", function(data, textStatus, jqxhr){
         		console.log('[Debug] Script file loaded.')
			});
			get_data()
		});
		function get_data(api_url='sex_dist'){
			var endpoint = '/case/api/' + api_url
			var crime_stat = []
			$.ajax({
				method: "GET",
				url: endpoint,
				success: function(data){
					console.log(data)
					if (chart_area != undefined){
						chart_area.destroy()
					}
					chart_area = draw_chart(data.stat,data.labels,data.label,data.chart_type)
				},
				error: function(error_data){
					console.log("error")
					console.log(error_data)
				}
			})
		}
	</script>
		
{% endblock %}