{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}
{% block title %}
Add new case
{% endblock %}

{% block content %}

<main class="container-fluid" style="margin:50px 0px">
    <h3>General case info form</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row ml-2">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label for="fname">Assigned police</label>
                        <select class="form-container form-control" name="allowed_polices" id="police" required>
                            {% for p in police_list %}
                                <option value="{{ p.pk }}">{{ p }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 my-2">
                        <label for="severity">Crime Type</label>
                        <select class="form-container form-control" name="crime_type" id="severity" required>
                            {% for ct in case_types %}
                                <option value="{{ ct.pk }}">{{ ct.crime }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-12 my-2">
                        <label for="description">Case description</label>
                        <textarea class="form-control" id="description" name="case_description" rows="7"></textarea>
                    </div>
                    <!-- <div class="col-md-12 my-2">
                        <label for="category">Case Category</label>
                        <select name="category" class="form-control">
                            <option value="Fraud">Fraud</option>
                        </select>
                    </div> -->
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="evidence">Evidence/Evidences</label>
                        <input type="file" name="evidence" class="form-control" multiple id="evidence">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="location">Add location</label>
                        <input type="button" onclick="displayModalMap()" class="btn btn-primary form-control" data-toggle="modal"
                            data-target="#locationModal" value="Add location">
                    </div>
                    
                </div>
            </div>
        </div>
        <button class="mx-auto btn btn-primary mt-3" id="submit_Cbtn" style="width: 200px;">Submit</button>
        {% include "case/map_modal.html" %}
    </form>
</main>
{% endblock %}