{% load static %}

<div class="tab-pane" id="criminal_form">
    <div class="card">
        <div class="card-body">
            <h4>Criminal Form</h4>
            <div class="form-row">
                <form method="POST" action="/case/{{case_no}}/add-criminal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row ml-2">
                        <div class="form-group card text-center col-3" id="upload-photo"
                            style="width:12rem;height: 12rem;">
                            <label for="C_photo-file" class="card-title">
                                <div class="card-img-overlay" style="cursor: pointer;">
                                    <h5 id="photo_text">Add Photos</h5>
                                    <img id="C_photo-filephoto" style="width:3rem;"
                                        src="{% static "images/camera.png" %}" alt="Card image" class="card-img-top">
                                    <input type="file" onchange="add_image(event)" multiple style="display: none;"
                                        name="photo" id="C_photo-file">
                                </div>
                            </label>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col">
                                    <label for="fname">First Name</label>
                                    <input type="text" name="fname" class="form-control" id="C_fname" required pattern="[a-zA-z]$">
                                </div>
                                <div class="col">
                                    <label for="mname">Middle Name</label>
                                    <input type="text" name="mname" class="form-control" id="C_mname" required pattern="[a-zA-z]$">
                                </div>
                                <div class="col">
                                    <label for="lname">Last Name</label>
                                    <input type="text" name="lname" class="form-control" id="C_lname" required pattern="[a-zA-z]$">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="sex">Sex</label>
                                    <select name="sex" id="C_sex" class="form-control" required>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="age">Age</label>
                                    <input type="number" name="age" min="0" max="125" class="form-control" id="C_age" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date_of_birth">Date of birth</label>
                                    <input type="date" name="dob" class="form-control" id="C_date_of_birth">
                                </div>
                                <div class="col-md-6">
                                    <label for="place_of_birth">Place of birth</label>
                                    <input type="text" name="pob" class="form-control" id="C_place_of_birth">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="nationality">Nationality</label>
                                    <select class="form-control dropdown" id="nationality" name="nationality" required>
                                        <option value="ethiopian">Ethiopian</option>
                                        <option value="afghan">Afghan</option>
                                        <option value="albanian">Albanian</option>
                                        <option value="algerian">Algerian</option>
                                        <option value="american">American</option>
                                        <option value="andorran">Andorran</option>
                                        <option value="angolan">Angolan</option>
                                        <option value="antiguans">Antiguans</option>
                                        <option value="argentinean">Argentinean</option>
                                        <option value="armenian">Armenian</option>
                                        <option value="australian">Australian</option>
                                        <option value="austrian">Austrian</option>
                                        <option value="azerbaijani">Azerbaijani</option>
                                        <option value="bahamian">Bahamian</option>
                                        <option value="bahraini">Bahraini</option>
                                        <option value="bangladeshi">Bangladeshi</option>
                                        <option value="barbadian">Barbadian</option>
                                        <option value="barbudans">Barbudans</option>
                                        <option value="batswana">Batswana</option>
                                        <option value="belarusian">Belarusian</option>
                                        <option value="belgian">Belgian</option>
                                        <option value="belizean">Belizean</option>
                                        <option value="beninese">Beninese</option>
                                        <option value="bhutanese">Bhutanese</option>
                                        <option value="bolivian">Bolivian</option>
                                        <option value="bosnian">Bosnian</option>
                                        <option value="brazilian">Brazilian</option>
                                        <option value="british">British</option>
                                        <option value="bruneian">Bruneian</option>
                                        <option value="bulgarian">Bulgarian</option>
                                        <option value="burkinabe">Burkinabe</option>
                                        <option value="burmese">Burmese</option>
                                        <option value="burundian">Burundian</option>
                                        <option value="cambodian">Cambodian</option>
                                        <option value="cameroonian">Cameroonian</option>
                                        <option value="canadian">Canadian</option>
                                        <option value="cape verdean">Cape Verdean</option>
                                        <option value="central african">Central African</option>
                                        <option value="chadian">Chadian</option>
                                        <option value="chilean">Chilean</option>
                                        <option value="chinese">Chinese</option>
                                        <option value="colombian">Colombian</option>
                                        <option value="comoran">Comoran</option>
                                        <option value="congolese">Congolese</option>
                                        <option value="costa rican">Costa Rican</option>
                                        <option value="croatian">Croatian</option>
                                        <option value="cuban">Cuban</option>
                                        <option value="cypriot">Cypriot</option>
                                        <option value="czech">Czech</option>
                                        <option value="danish">Danish</option>
                                        <option value="djibouti">Djibouti</option>
                                        <option value="dominican">Dominican</option>
                                        <option value="dutch">Dutch</option>
                                        <option value="east timorese">East Timorese</option>
                                        <option value="ecuadorean">Ecuadorean</option>
                                        <option value="egyptian">Egyptian</option>
                                        <option value="emirian">Emirian</option>
                                        <option value="equatorial guinean">Equatorial Guinean</option>
                                        <option value="eritrean">Eritrean</option>
                                        <option value="estonian">Estonian</option>
                                        <option value="fijian">Fijian</option>
                                        <option value="filipino">Filipino</option>
                                        <option value="finnish">Finnish</option>
                                        <option value="french">French</option>
                                        <option value="gabonese">Gabonese</option>
                                        <option value="gambian">Gambian</option>
                                        <option value="georgian">Georgian</option>
                                        <option value="german">German</option>
                                        <option value="ghanaian">Ghanaian</option>
                                        <option value="greek">Greek</option>
                                        <option value="grenadian">Grenadian</option>
                                        <option value="guatemalan">Guatemalan</option>
                                        <option value="guinea-bissauan">Guinea-Bissauan</option>
                                        <option value="guinean">Guinean</option>
                                        <option value="guyanese">Guyanese</option>
                                        <option value="haitian">Haitian</option>
                                        <option value="herzegovinian">Herzegovinian</option>
                                        <option value="honduran">Honduran</option>
                                        <option value="hungarian">Hungarian</option>
                                        <option value="icelander">Icelander</option>
                                        <option value="indian">Indian</option>
                                        <option value="indonesian">Indonesian</option>
                                        <option value="iranian">Iranian</option>
                                        <option value="iraqi">Iraqi</option>
                                        <option value="irish">Irish</option>
                                        <option value="israeli">Israeli</option>
                                        <option value="italian">Italian</option>
                                        <option value="ivorian">Ivorian</option>
                                        <option value="jamaican">Jamaican</option>
                                        <option value="japanese">Japanese</option>
                                        <option value="jordanian">Jordanian</option>
                                        <option value="kazakhstani">Kazakhstani</option>
                                        <option value="kenyan">Kenyan</option>
                                        <option value="kittian and nevisian">Kittian and Nevisian</option>
                                        <option value="kuwaiti">Kuwaiti</option>
                                        <option value="kyrgyz">Kyrgyz</option>
                                        <option value="laotian">Laotian</option>
                                        <option value="latvian">Latvian</option>
                                        <option value="lebanese">Lebanese</option>
                                        <option value="liberian">Liberian</option>
                                        <option value="libyan">Libyan</option>
                                        <option value="liechtensteiner">Liechtensteiner</option>
                                        <option value="lithuanian">Lithuanian</option>
                                        <option value="luxembourger">Luxembourger</option>
                                        <option value="macedonian">Macedonian</option>
                                        <option value="malagasy">Malagasy</option>
                                        <option value="malawian">Malawian</option>
                                        <option value="malaysian">Malaysian</option>
                                        <option value="maldivan">Maldivan</option>
                                        <option value="malian">Malian</option>
                                        <option value="maltese">Maltese</option>
                                        <option value="marshallese">Marshallese</option>
                                        <option value="mauritanian">Mauritanian</option>
                                        <option value="mauritian">Mauritian</option>
                                        <option value="mexican">Mexican</option>
                                        <option value="micronesian">Micronesian</option>
                                        <option value="moldovan">Moldovan</option>
                                        <option value="monacan">Monacan</option>
                                        <option value="mongolian">Mongolian</option>
                                        <option value="moroccan">Moroccan</option>
                                        <option value="mosotho">Mosotho</option>
                                        <option value="motswana">Motswana</option>
                                        <option value="mozambican">Mozambican</option>
                                        <option value="namibian">Namibian</option>
                                        <option value="nauruan">Nauruan</option>
                                        <option value="nepalese">Nepalese</option>
                                        <option value="new zealander">New Zealander</option>
                                        <option value="ni-vanuatu">Ni-Vanuatu</option>
                                        <option value="nicaraguan">Nicaraguan</option>
                                        <option value="nigerien">Nigerien</option>
                                        <option value="north korean">North Korean</option>
                                        <option value="northern irish">Northern Irish</option>
                                        <option value="norwegian">Norwegian</option>
                                        <option value="omani">Omani</option>
                                        <option value="pakistani">Pakistani</option>
                                        <option value="palauan">Palauan</option>
                                        <option value="panamanian">Panamanian</option>
                                        <option value="papua new guinean">Papua New Guinean</option>
                                        <option value="paraguayan">Paraguayan</option>
                                        <option value="peruvian">Peruvian</option>
                                        <option value="polish">Polish</option>
                                        <option value="portuguese">Portuguese</option>
                                        <option value="qatari">Qatari</option>
                                        <option value="romanian">Romanian</option>
                                        <option value="russian">Russian</option>
                                        <option value="rwandan">Rwandan</option>
                                        <option value="saint lucian">Saint Lucian</option>
                                        <option value="salvadoran">Salvadoran</option>
                                        <option value="samoan">Samoan</option>
                                        <option value="san marinese">San Marinese</option>
                                        <option value="sao tomean">Sao Tomean</option>
                                        <option value="saudi">Saudi</option>
                                        <option value="scottish">Scottish</option>
                                        <option value="senegalese">Senegalese</option>
                                        <option value="serbian">Serbian</option>
                                        <option value="seychellois">Seychellois</option>
                                        <option value="sierra leonean">Sierra Leonean</option>
                                        <option value="singaporean">Singaporean</option>
                                        <option value="slovakian">Slovakian</option>
                                        <option value="slovenian">Slovenian</option>
                                        <option value="solomon islander">Solomon Islander</option>
                                        <option value="somali">Somali</option>
                                        <option value="south african">South African</option>
                                        <option value="south korean">South Korean</option>
                                        <option value="spanish">Spanish</option>
                                        <option value="sri lankan">Sri Lankan</option>
                                        <option value="sudanese">Sudanese</option>
                                        <option value="surinamer">Surinamer</option>
                                        <option value="swazi">Swazi</option>
                                        <option value="swedish">Swedish</option>
                                        <option value="swiss">Swiss</option>
                                        <option value="syrian">Syrian</option>
                                        <option value="taiwanese">Taiwanese</option>
                                        <option value="tajik">Tajik</option>
                                        <option value="tanzanian">Tanzanian</option>
                                        <option value="thai">Thai</option>
                                        <option value="togolese">Togolese</option>
                                        <option value="tongan">Tongan</option>
                                        <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                                        <option value="tunisian">Tunisian</option>
                                        <option value="turkish">Turkish</option>
                                        <option value="tuvaluan">Tuvaluan</option>
                                        <option value="ugandan">Ugandan</option>
                                        <option value="ukrainian">Ukrainian</option>
                                        <option value="uruguayan">Uruguayan</option>
                                        <option value="uzbekistani">Uzbekistani</option>
                                        <option value="venezuelan">Venezuelan</option>
                                        <option value="vietnamese">Vietnamese</option>
                                        <option value="welsh">Welsh</option>
                                        <option value="yemenite">Yemenite</option>
                                        <option value="zambian">Zambian</option>
                                        <option value="zimbabwean">Zimbabwean</option>
                                      </select>
                                </div>
                                <div class="col">
                                    <label for="ethnicity">Ethnicity</label>
                                    <input type="text" name="ethnicity" class="form-control" id="C_ethnicity">
                                </div>
                                <div class="col">
                                    <label for="religion">Religion</label>
                                    <select class="form-control dropdown" id="religion" name="religion">
                                        <option value="" selected="selected" disabled="disabled">-- select one --</option>
                                        <option value="Christianity">Christianity</option>
                                        <option value="Islam">Islam</option>
                                        <option value="Nonreligious">Nonreligious</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="income">Income</label>
                                    <input type="number" name="income" min="0" class="form-control" id="C_income">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mobile">Mobile</label>
                                    <input type="tel" name="mobile" class="form-control" id="C_mobile" pattern="^(^\+251|^251|^0)?9\d{8}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="house_no">House number</label>
                                    <input type="number" name="house_no" min="0" class="form-control" id="C_house_no">
                                </div>
                                <div class="form-group col">
                                    <label for="kebele">Kebele</label>
                                    <input type="number" name="kebele" min="0" class="form-control" id="C_kebele">
                                </div>
                                <div class="form-group col">
                                    <label for="subcity">Subcity</label>
                                    <input type="text" name="subcity" class="form-control" id="C_subcity">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="former_kebele">Former Kebele</label>
                                    <input type="number" name="former_kebele" min="0" class="form-control"
                                        id="C_former_kebele">
                                </div>
                                <div class="form-group col">
                                    <label for="former_wereda">Former Wereda</label>
                                    <input type="number" name="former_wereda" min="0" class="form-control"
                                        id="C_former_wereda">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="salary">Salary</label>
                                    <input type="number" name="salary" min="0" class="form-control" id="C_salary">
                                </div>
                                <div class="form-group col">
                                    <label for="role">Work Role</label>
                                    <input type="text" name="work_role" class="form-control" id="C_role">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="work">Work type</label>
                                    <input type="text" name="work_type" class="form-control" id="C_work">
                                </div>
                                <div class="form-group col">
                                    <label for="address">Work Address</label>
                                    <input type="text" name="work_address" class="form-control" id="C_address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="C_testimony_file">Testimony File/Files</label>
                                    <input type="file" name="testimony_file" multiple class="form-control" id="C_testimony_file">
                                </div>
                                <div class="form-group col">
                                    <label for="C_testimony">Criminal Testimony</label>
                                    <textarea class="form-control" rows="5" id="C_testimony"></textarea>
                                </div>
                            </div>

                            <button class="mx-auto btn btn-primary mt-3" id="submit_Cbtn"
                                style="width: 200px;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function add_image(event) {
        let preview = document.getElementById(`${event.target.id}photo`);
        let file = document.getElementById('C_photo-file').files[0];
        // console.log(file);
        let reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
            preview.style = "width:8rem;height:6rem";
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
        document.getElementById('photo_text').innerHTML = "Photo";
    }
</script>