{% extends "base.html" %}
{% load static %}
{% block title %}
Edit case
{% endblock %}

{% block content %}

<main class="container-fluid" style="margin:50px 0px">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#general_form">General Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#criminal_form">Criminal Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#witness_form">Witness Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#plaintiff_form">Plaintiff Form</a>
        </li>
    </ul>

    <div class="tab-content">

        <!-- General form -->
        {% include "case/general_form.html" %}

        <!-- Criminal form -->
        {% include "case/criminal_form.html" %}

        <!-- witness form -->
        {% include "case/witness_form.html" %}

        <!-- plaintiff form -->
        {% include "case/plaintiff_form.html" %}

    </div>

</main>
<script>
    function add_image(event) {
        console.log(event.target.id);
        let preview = document.getElementById(`${event.target.id}photo`);
        let file = document.querySelector('input[type=file]').files[0];
        let reader = new FileReader();

        reader.addEventListener("load", function () {
            // convert image file to base64 string
            preview.src = reader.result;
            preview.style = "width:8rem;height:6rem";
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}