{% load static %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<div class="tab-pane active" id="general_form">
    <div class="card">
        <div class="card-body">
            <h4>General Form</h4>
            <div class="form-row">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row ml-2">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label for="fname">Assigned police</label>
                                    <select class="form-container form-control" name="police" id="police">
                                        <option value="">Abebe</option>
                                        <option value="">Bekele</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 my-2">
                                    <label for="category">Case Category</label>
                                    <select name="category" class="form-control">
                                        <option value="Fraud">Fraud</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="description">Case description</label>
                                    <textarea class="form-control" id="description" rows="7"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="evidence">Evidence/Evidences</label>
                                    <input type="file" name="evidence" class="form-control" multiple id="evidence">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="location">Add location</label>
                                    <input type="button" onclick="displayModalMap()" class="btn btn-primary form-control" data-toggle="modal"
                                        data-target="#locationModal" value="Add location">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="mx-auto btn btn-primary mt-3" id="submit_Gbtn" style="width: 200px;">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "case/map_modal.html" %}