{% extends "base.html" %}
{% load static %}
{% block title %}
    Case Distribution
{% endblock %}
{%block head %}
      <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
      <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}
{% block content %}
      <div id = "map" style = "width: 900px; height: 580px"></div>
      <br> <button class="close" onclick="save_location()" id="save_location">Save Location/</button><br>
      {% csrf_token %}
      <script>

        function save_location(lat,lng){
            var endpoint = '/case/maps'
            var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0]
			$.ajax({
				method: "POST",
                url: endpoint,
                data:{
                    'purpose': 'sending location',
                    'csrfmiddlewaretoken': csrf_token.value,
                    'latitude':lat,
                    'longtude':lng,
                },
				success: function(data){
					console.log(data)
				},
				error: function(error_data){
					console.log("error")
					console.log(error_data)
				}
			})
		}
		
		var popup = L.popup();
		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("Yene Sefer " + e.latlng.toString())
				.openOn(map);
		}

        var markerOptions = {
            title: "Case type",
            clickable: true,
            draggable: true
        }

        function addMarker(e){
            c_location = e.latlng
            var marker = L.marker(e.latlng,markerOptions)
            console.log(location)
            marker.addTo(map)
            lat = c_location.lat
            lng = c_location.lng 
            save_location(lat,lng)
        }

        // Creating map options
        var mapOptions = {
            center: [8.9806, 38.7578], // lat,long #A.A [8.9806, 38.7578]
            zoom: 14
        }

        // Creating a map object
        var map = new L.map('map', mapOptions);

		// onclick event
		map.on('click',addMarker)

        // Creating a Layer object
        var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

        // Adding layer to the map
        map.addLayer(layer);
      </script>
{% endblock %}