{% load static %}
<div class="tab-pane" id="plaintiff_info">
    <div class="card">
        <div class="card-body">
            <h5>Plaintiff List</h5>
            <ul class="list-group">
                {% for plaintiff in plaintiff_set %}
                <div class="card-body list-group-item disabled">
                    <h6 class="card-title">{{ plaintiff.full_name }}</h6>
                    <p class="card-text mt-2 ml-2">{{ plaintiff.testimony }}</p>
                </div>
                {% empty %}
                <div>No added Plaintiff</div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>