{% load static %}

<div class="tab-pane " id="plaintiff_form">
    <div class="card">
        <div class="card-body">
            <h4>Plaintiff Form</h4>
            <div class="form-row">
                <form method="POST" action="/case/{{case_no}}/add-plaintiff" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row ml-2">
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <label for="fname">First Name</label>
                                    <input type="text" name="fname" class="form-control" id="P_fname">
                                </div>
                                <div class="col">
                                    <label for="mname">Middle Name</label>
                                    <input type="text" name="mname" class="form-control" id="P_mname">
                                </div>
                                <div class="col">
                                    <label for="lname">Last Name</label>
                                    <input type="text" name="lname" class="form-control" id="P_lname">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="sex">Sex</label>
                                    <select name="sex" id="P_sex" class="form-control">
                                        <option></option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="age">Age</label>
                                    <input type="number" name="age" min="0" max="125" class="form-control" id="P_age">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date_of_birth">Date of birth</label>
                                    <input type="date" name="dob" class="form-control" id="P_date_of_birth">
                                </div>
                                <div class="col-md-6">
                                    <label for="place_of_birth">Place of birth</label>
                                    <input type="text" name="pob" class="form-control" id="P_place_of_birth">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="nationality">Nationality</label>
                                    <input type="text" name="nationality" class="form-control" id="P_nationality">
                                </div>
                                <div class="col">
                                    <label for="ethnicity">Ethnicity</label>
                                    <input type="text" name="ethnicity" class="form-control" id="P_ethnicity">
                                </div>
                                <div class="col">
                                    <label for="religion">Religion</label>
                                    <input type="text" name="religion" class="form-control" id="P_religion">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="income">Income</label>
                                    <input type="number" name="income" min="0" class="form-control" id="P_income">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="mobile">Mobile</label>
                                    <input type="tel" name="mobile" class="form-control" id="P_mobile">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="house_no">House number</label>
                                    <input type="number" name="house_no" min="0" class="form-control" id="P_house_no">
                                </div>
                                <div class="form-group col">
                                    <label for="kebele">Kebele</label>
                                    <input type="number" name="kebele" min="0" class="form-control" id="P_kebele">
                                </div>
                                <div class="form-group col">
                                    <label for="subcity">Subcity</label>
                                    <input type="text" name="subcity" class="form-control" id="P_subcity">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="former_kebele">Former Kebele</label>
                                    <input type="number" name="former_kebele" min="0" class="form-control"
                                        id="P_former_kebele">
                                </div>
                                <div class="form-group col">
                                    <label for="former_wereda">Former Wereda</label>
                                    <input type="number" name="former_wereda" min="0" class="form-control"
                                        id="P_former_wereda">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="salary">Salary</label>
                                    <input type="number" name="salary" min="0" class="form-control" id="P_salary">
                                </div>
                                <div class="form-group col">
                                    <label for="role">Work Role</label>
                                    <input type="text" name="role" class="form-control" id="P_role">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <label for="work">Work type</label>
                                    <input type="text" name="work_type" class="form-control" id="P_work">
                                </div>
                                <div class="form-group col">
                                    <label for="address">Work Address</label>
                                    <input type="text" name="address" class="form-control" id="P_address">
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <div class="form-group col">
                                <label for="P_testimony_file">Testimony File/Files</label>
                                <input type="file" name="testimony_file" multiple class="form-control" id="P_testimony_file">
                            </div>
                            <div class="form-group col">
                                <label for="P_testimony">Plaintiff Testimony</label>
                                <textarea class="form-control" rows="5" id="P_testimony"></textarea>
                            </div>
                        </div>
                    </div>

                    <button class="mx-auto btn btn-primary mt-3" id="submit_Pbtn" style="width: 150px;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>