{% extends "base.html" %}
{% load static %}
{% block title %}
Report
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h3>Generate Report</h3>
    <form action="/case/report" method="POST">
        {% csrf_token %}
        Select type of Report
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="report_type" checked value="0">Monthly
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="report_type" value="1">Quarterly
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="report_type" value="2">Yearly
            </label>
        </div>
        <button class="mx-auto btn btn-primary mt-3" id="submit" style="width: 200px;">Submit</button>
    </form>
</div>

<div class="card jumbotron">
    <h5>Generated Reports</h5>
    <ul class="list-group">
        {% for report in report_set %}
        <li class="list-group-item"><a href="{{ report.file.url }}">{{ report.file.name }}</a></li>
        {% empty %}
        <p>No report generated</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}