{% extends "base.html" %}
{% load static %}
{% block title %}
Search Case
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class="jumbotron">
    <form action="/case/imgsearch" method="POST" enctype="multipart/form-data" class="mx-auto" style="width: 70%;">
        {% csrf_token %}
        <div class="form-group">
            <label for="search">Search Case </label>
            <ul class="list-group search">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <input type="text" class="form-control search" autofocus name="search" placeholder="Abebe Bekele">
                    <span class="fas fa-camera search badge-pill" onClick="showUpload()" data-toggle="tooltip"
                        title="Search by image"></span>
                </li>
            </ul>

        </div>
        <ul class="nav nav-tabs uploadTab" style="display: none;">
            <ul class="list-group search">
                <div class="tab-content uploadTab" style="display: none;">
                    <li class="list-group-item d-flex justify-content-between align-items-center nav-item">
                        <a class="active disabled" data-toggle="tab">Search by Image</a>
                        <button type="button" class="close badge-pill ml-1" onClick="closeBtn()">&times;</button>
                    </li>
            </ul>
            <div class="tab-pane active" id="Searchimage">
                <div class="form-group w-75">
                    <input type="file" name="image_file" class="form-control">
                </div>
            </div>
        </ul>

        <input type="submit" class="btn btn-primary mt-3" value="Search">
</div>
<!-- <div class="form-group">
            Filter:
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" checked class="form-check-input" name="filter" value="">None
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="filter" value="">Search for name
                </label>
            </div>
        </div> -->
</form>
</div>

<script>
    function showUpload() {
        let tab = document.getElementsByClassName('uploadTab');
        let searchInput = document.getElementsByClassName('search');
        if (tab[0].style.display === "none") {
            tab[0].style.display = "block";
            tab[1].style.display = "block";
        } else {
            tab[0].style.display = "none";
            tab[1].style.display = "none";
        }
        if (searchInput[0].style.display === "none") {
            searchInput[0].style.display = "block";
            searchInput[1].style.display = "block";
        } else {
            searchInput[0].style.display = "none";
            searchInput[1].style.display = "none";
        }
    }
    function closeBtn() {
        let tab = document.getElementsByClassName('uploadTab');
        let searchInput = document.getElementsByClassName('search');
        tab[0].style.display = "none";
        tab[1].style.display = "none";
        searchInput[0].style.display = "block";
        searchInput[1].style.display = "block";
    }
</script>

{% endblock %}