{% load crispy_forms_tags %}

<div class="card-header">
    <a class="card-link" data-toggle="collapse" href="#witness_form">
        <h5>Witness Form</h5>
    </a>
</div>
<div id="witness_form" class="collapse" data-parent="#accordion">
    <div class="card-body">
        <div class="form-row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {% crispy person %}
                </div>
                <div class="form-group">
                    {% crispy image_form %}
                </div>
                <div class="form-group">
                    {% crispy residence %}
                </div>
                <div class="form-group">
                    {% crispy phone %}
                </div>
                <div class="form-group">
                    {% crispy work %}
                </div>
            </form>
        </div>
    </div>
</div>