{% load static %}
<div class="tab-pane" id="witness_info">
    <div class="card">
        <div class="card-body">
            <h5>Witness List</h5>
            <ul class="list-group">
                {% for witness in witness_set %}
                <div class="card-body list-group-item disabled">
                    <h6 class="card-title">{{ witness.full_name }}</h6>
                    <p class="card-text mt-2 ml-2">{{ witness.testimony }}</p>
                </div>
                {% empty %}
                <div>No added Witness</div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>