{% load staticfiles %}
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}{% endblock %}
	</title>
	<!-- <link href="{% static "css/bootstrap4.min.css" %}" rel="stylesheet" type="text/css"> -->
	<link href="{% static "css/styles2.css" %}" rel="stylesheet" type="text/css">

	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
	{% block head %}{% endblock %}
</head>

<body>
	<div id="ErrorModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Error</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<p>{{ error }}</p>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
		<a class="navbar-brand" href="{% url "index" %}" {% if request.path == '/' %}style="color:white"
			{% endif %}>CRS</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topnav">
			<span class="navbar-toggler-icon glyphicon glyphicon-option-vertical" style="color:white"></span>
		</button>


		<div class="collapse navbar-collapse" id="topnav">
			<ul class="navbar-nav" id="lnav">
				<li class="nav-item"><a class="nav-link" href="{% url "new-case" %}">Add New Case</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url "charts" %}">Charts</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item"><a class="nav-link" href="{% url "search" %}">Search </a></li>
			</ul>
			<script>
				function active_nav() {
					ln = document.getElementById("lnav")
					links = ln.getElementsByTagName("a")
					for (i = 0; i < links.length; i++) {
						a = links[i]
						link_name = a.getAttribute("href")
						if ("{{ request.path }}" == link_name) {
							a.parentElement.className = "active"
						}
					}
				}
				active_nav()
			</script>

			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{user}}
						<span class="caret"></span></a>
					<ul class="dropdown-menu" style="text-align:center">
						<li><a href="#" class="dropdown-item glyphicon glyphicon-user"> Profile</a></li>
						<li><a href="{% url "logout" %}" class="dropdown-item glyphicon glyphicon-log-out"> Logout</a>
						</li>
						<li></li>
					</ul>
				</li>
				{% else %}
				<li><a class="nav-link" href="/login" ><span
							class="glyphicon glyphicon-log-in" style="font-weight:bold"> Login</span> </a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<main class="container-fluid" style="margin: 30px 0px;">
		{% block content %}{% endblock %}
	</main>

	<footer class="container-fluid text-center bg-dark navbar-dark hid" style="background:black;height:50px;padding-top:15px;color:white">
		&copy; {% now "Y" %} Criminal Recording System.
	</footer>
	<script src="{% static "js/script.js" %}"></script>
	<!-- <script src="{% static "js/lib/jquery-2.1.4.min.js" %}"></script>
	<script src="{% static "js/lib/bootstrap4.min.js" %}"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	{% block scripts %}{% endblock %}
	{% if error %}
	<script>
		err_modal = $("#ErrorModal")
		err_modal.modal()
		setTimeout(closeModal, 5000)
		function closeModal() {
			err_modal.modal("hide");
		}
	</script>
	{% endif %}
	{% if login_required and not user.is_authenticated %}
	<script>
		$("#loginModal").modal()
	</script>
	{% endif %}
</body>

</html>